{% extends 'tunnel_rush/base.html'%}

{% load static %}

{% block title %}
Home Page
{% endblock title %}

{% block header %}
<link rel="stylesheet" href="{% static 'tunnel_rush/css/index.css' %}"/>
{% endblock header %}

{% block content%}
<div class='container-fluid' id='container_intro'>
    <div class='row intro_text justify-content-center'>
        <h1 class='col-12 text-center display-2' >Hi!! I am <b class='font-weight-bold' id='identity'>Kamal</b>.</h1>
        <hr class='my-4' />
        <h1 class='col-12 text-center display-3'> Welcome to my Page!!</h1>
    </div>
</div>

<!-- down arrow -->
<a id='down_arrow_id' href="#description"><span class="down_arrow"></span></a>

<!-- description page -->
<div class='container-fluid' id='description'>
    <div class='row justify-content-center'>
        <div class='col-12'>
            <p>
                <img src='{% static "tunnel_rush/images/fb_profile_pic.jpg" %}' id='profile_pic'/>
                Hi, My name is <b>A. Sai Kamal</b> currently pursuing B.Tech in CSE at IIIT Hyderabad. I currently work on MDPs in machine learning lab.I am passionate about programming and problem-solving, and have a never ending curiosity to learn new things. In particular, I am interested in natural language processing, data analytics and always open to explore new fields.
                I never turn down opportunities to learn more and work on exciting projects. 
                
            </p>
            <p>
                Don't forget to explore my website further to know more about me and my projects ;P.
            </p>
        </div>
    </div>
    <div class='row justify-content-center'>
        <hr class='heading_hr mt-5'/>
        <h1 class='col-12 text-center display-5 heading'><u>Achievements</u></h1>
        <div class='col-12'>
            <ul>
                <li>Selected for <b class='font-weight-bold' id='identity'>Dean’s List of Academic Excellence</b> for all semesters awarded till date.</li>
                <li>Achieved 3rd place in <b class='font-weight-bold' id='identity'>Megathon-2019-Qualcomm</b>(hackathon).</li>
                <li>Ranked <b class='font-weight-bold' id='identity'>1147</b> among 14 lakh students in JEE Mains(263 marks out of 360).</li>
                <li>Ranked <b class='font-weight-bold' id='identity'>2595</b> AIR in JEE Advanced.</li>
            </ul>
        </div>
    </div>
    <div class='row justify-content-center'>
        <hr class='heading_hr mt-5'/>
        <h1 class='col-12 text-center display-5 heading'><u>Interests</u></h1>
        <div class='col-12'>
            <ul>
                <li>Listen to a lot of <i>selected</i> music :P.</li>
                <li>Photography - page will be updated soon!!</li>
                <li>Read books when I feel like chillaxing</li>
            </ul>
        </div>
    </div>
    <div class='row justify-content-center'>
        <hr class='heading_hr mt-5'/>
        <h1 class='col-12 text-center display-5 heading'><u>Skills</u></h1>
        <div class='col-12'>
            <ul>
                <li><b>Languages</b> : C, C++, Python, MATLAB, BASH, GoLang, JavaScript.</li>
                <li><b>Web</b> : Django,HTML,CSS,nodejs,Flask,Ruby on Rails.</li>
                <li><b>Other</b> : SQL,Git,OpenGL,Linux,tensorflow-keras,pytorch</li>
            </ul>
        </div>
    </div>
</div>
<script src="{% static 'tunnel_rush/js/index.js' %}"></script>
{% endblock content %}