{% extends 'tunnel_rush/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Sign In
{% endblock title %}

{% block header %}
<link rel="stylesheet" href="{% static 'users/css/signIn.css' %}"/>
{% endblock header %}

{% block content%}
<div class="container form_wrapper">
    <form method="POST">
    {% csrf_token %}
    <div class="row form-group justify-content-center">
        <div class="col-4 col_custom rounded pt-2 pb-3 pl-3 pr-3 z-depth-5 ">
            <legend class="border-bottom pb-3 text-center display-4"> <b>Sign In</b> </legend>
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-info">Sign In!</button>
        </div>
    </div>
    </form>
</div>
{% endblock content %}