html {
    /* color: #222; */
    color: black;
    font-size: 10px;
}

.container-fluid {
    padding: 0%;
}

.navbar {
    background-color: #18121E !important;
    border-bottom: 3px solid whitesmoke;
}

.navbar a {
    color: whitesmoke !important;
    font-weight: 500;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    border-bottom: 3px solid #57BC90;
}

body {
    /* max-width: 100%; */
    /* background-color: #dec79b; */
    /* background-color: #d48166; */
    /* background-color: #f7f4e9; */
    /* background-color: #151516; */
    /* background-color: #e3e3e3; */
    /* background-color: #fb9985; */
    /* background-color: #233237; */
    /* background-color: rgba(87, 188, 144, 0.726); */
    /* background-color: rgb(47, 79, 79); */
    background-color: cadetblue;
    /* background-color: silver; */
}


/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html {
        font-size: 10px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html {
        font-size: 12px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
}