/* --------------- General CSS settings ---------------- */
* {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

@font-face {
    font-family: myFirstFont;
    src: url('../fonts/mine.ttf');
}

/* --------------- canvasContainer ---------------- */
#canvasContainer {
    background: black;
    text-align: center;
    font-family: myFirstFont;
}

/* --------------- welcomeContainer ---------------- */
#welcomeContainer {
    position: absolute;
    width: 25vw;
    border-radius: 15px;
    top: 35vh;
    left: 37.5vw;
    background-color: rgb(245, 245, 245, 0.5);
}

#welcomeContainer .row {
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;
    cursor: pointer;
}

#welcomeContainer h1, h2 {
    font-weight: bolder;
    padding: 2%;
    color: rgb(133, 27, 27);
}

.options {
    border: 5px solid rgba(245, 245, 245, 0.486);
    border-radius: 10px;
}

/* --------------- leaderBoardContainer ---------------- */
#leaderBoardContainer {
    position: absolute;
    border-radius: 15px;
    width: 50vw;
    top: 15vh;
    left: 22.5vw;
    background-color: rgb(245, 245, 245, 0.5);
}

#leaderBoardContainer .row {
    margin: 1%;
    cursor: default;
}

#leaderBoardContainer h1, h2 {
    font-weight: bolder;
    padding: 2%;
    color: rgb(133, 27, 27);
}

/* --------------- controlsContainer ---------------- */
#controlsContainer {
    position: absolute;
    border-radius: 15px;
    width: 25vw;
    top: 20vh;
    left: 37.5vw;
    background-color: rgb(245, 245, 245, 0.5);
}

#controlsContainer .row {
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;
    cursor: default;
}

#controlsContainer h1, h2 {
    font-weight: bolder;
    padding: 2%;
    color: rgb(133, 27, 27);
}


/* --------------- scoreContainer ---------------- */
#scoreContainer {
    position: absolute;
    border-radius: 15px;
    width: 20vw;
    top: 10vh;
    left: 2vw;
    background-color: rgb(245, 245, 245, 0.5);
}

#scoreContainer .row {
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;
    cursor: default;
}

#scoreContainer h1, h2 {
    font-weight: bolder;
    padding: 2%;
    color: rgb(133, 27, 27);
}

/* --------------- gameOverContainer ---------------- */
#gameOverContainer {
    position: absolute;
    border-radius: 15px;
    width: 33vw;
    top: 30vh;
    left: 33.5vw;
    background-color: rgb(245, 245, 245, 0.5);
}

#gameOverContainer .row {
    padding-top: 1%;
    padding-bottom: 2%;
    margin: 2%;
    cursor: default;
}

#gameOverContainer h1, h2 {
    font-weight: bolder;
    padding: 2%;
    color: rgb(133, 27, 27);
}